<% @matchings.each do |matching| %>
  <%= link_to matching_path(matching) do %>
    <div class="profiles">
      <div class="profile">
        <div class="profile__image" style="background_image:  url(<%= cl_image_path('matching.user.photo')%>); height: 200px; width: 200px"></div>
        <div class="profile__infos">
          <div class="profile__name"><span class="profile__age"> <%= matching.user.birth_date %> </span></div>
  <% end %>
          <div class="profile__description"><%= matching.user.bio %></div>
        </div>
      </div>
<% end %>

<div class="bottombar">
  <div class="bottombar__button">
    <img src="images/icon-next.svg">
  </div>
  <div class="bottombar__button">
    <img src="images/icon-heart.svg">
  </div>
</div>

</main>
<script src='js/hammer.min.js'></script>
<script src='js/main.js'></script>
