<div class="mycard">
<% @matchings.each do |matching| %>
  <div>
    <%= cl_image_path matching.second_associated_user.photo.key %>
    <%= matching.second_associated_user.nickname.upcase %>
  </div>
<% end %>
</div>
