<div class="mycard">
  <% @matchings.each do |matching| %>
    <div>
      <%= cl_image_tag User.find(matching.user_two_id).photo.key%>
      <%= matching.second_associated_user.nickname.upcase %>
    </div>
  <% end %>
</div>
