
<div class="background1">

  <div class="content">
  <div class="img">
    <%= image_tag "logo.png", alt: "le logo" %>
  </div>

  <p>Trouves et discutes avec des musiciens à coté de chez toi !!</p>


  <div class="boutons">
    <%= link_to "C'est parti", matchings_path , class: "mybtn" %>
  </div>
</div>
</div>
