
<div class="background1">

  <div class="content">
  <div class="img">
    <%= image_tag "logo1.png", alt: "le logo" %>
  </div>
  <div class="texthome">
    <p>Ztrut.com l'outil pour trouver des musiciens à coté de chez toi !!
    Pour créer un groupe ou jouer entre amis. Trouve vites tes prochains partenaires. </p>
  </div>




  <div class="boutons">
    <%= link_to "C'est partis", matchings_path , class: "mybtn77" %>
  </div>
</div>
</div>
