
<div class="background1">

  <div class="content">
  <div class="img">
    <%= image_tag "logo.png", alt: "le logo" %>
  </div>



  <div class="boutons">
    <%= link_to "C'est partie", matchings_path , class: "mybtn" %>
  </div>
</div>
</div>
