


  <div class="content">
  <div class="img">
    <%= image_tag "logo.png", alt: "le logo" %>
  </div>

<div class="container1">
  <div id="left">
    <h1>Ztrut</h1>
    <p>Vous n'avez pas de groupe de musique ? Vous penssez etre le future roi de la pop ? Tu en as marre de jouer seul dans ta chambre ? Trouver des musiciens à coté de chez vous !!</p>
  </div>
  <div id="right">
    <ul>
      <li>

        <span>
          <strong>Musicien? </strong>
          <p>Trouve d'autre musiciens, forme un groupe de musique. </p>
        </span>
      </li>
      <li>

        <span>
          <strong>Groupe?</strong>
          <p>Trouve des musiciens pour ton groupe de musique</p>
        </span>
      </li>

    </ul>
  </div>
</div>

  <div class="boutons">
    <%= link_to "C'est partis", matchings_path , class: "mybtn" %>
  </div>
</div>
