.content {
  background-color: #11273D;
  margin: auto;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  color: white;
}

img{
  width: 100px;
  height: 100px;
  text-align: center;
}

.mybtn {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, .2);
  border-style: solid;
  border-radius: 20px;
  border-color: white;
  width: 50%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.underline {
  color: white;
}

.boutons {
  margin-top: 40px;
}
