.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:120px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.small a img{
  height: 25px;
  width: auto;

}

.biglogo a img{
  height: 50px;
  width: auto;

}

.banner a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.bottombar {
  margin-top:24px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:24px;
  position: absolute;
  top: 135%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.bottombar button{
  padding: 0;
  border: none;
  background: none;
}

.bottombar2 {
  margin-top:24px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:24px;
  position: absolute;
  top: 165%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.bottombar2 img{
  width: 50px;
  height: 50px;
  margin: 20px;

}

.bottombar img{
  width: 50px;
  height: 50px;
  margin: 20px;

}
 .mycard {
  padding: 0 40px;
  margin-bottom: 50px;
 }

.textop {
  color: rgba(229, 229, 229, 0.728);
  font-size: 15px;
}

 .profiles {
  width:100%;
  position: relative;
  height:450px;
}

.profile {
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(57, 57, 57, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profile2 {
  position: absolute;
  left:0px;
  top:0px;
  width:100%;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(57, 57, 57, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profiles::before {
  content:'Plus personne à proximité...';
  color:black;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.profile__image {
  height: 550px;
  padding-bottom:100%;
  background-size: cover;
  background-position: center center;
}

.profile__infos {
  padding:12px;
  position:absolute;
  bottom:0px;
  background:linear-gradient(0deg, rgb(0, 0, 0), transparent);
  width: 100%;
}

.profile__name {
  color:white;
  font-weight: bold;
  font-size:22px;
}
.profile__age {
  color:var(--light-grey);
  font-weight: normal;
}
.profile__description {
  color:white;
  font-size:16px;
}

.profile--match {
  transition: var(--transition-time);
  transform:translateX(1500px) translateY(600px) rotate(90deg);
}
.profile--next {
  transition: var(--transition-time);
  transform:translateX(-1500px) translateY(600px) rotate(-90deg);
}
.profile--back {
  transition:var(--transition-time);
}
.profile--matching::after, .profile--nexting::after {
  content:'OUI';
  font-weight: bold;
  font-size:28px;
  padding:8px 12px;
  border:solid 2px rgb(91, 238, 91);
  color:rgb(91, 238, 91);
  background:var(--black-transparent);
  position:absolute;
  top:24px;
  right:210px;
  border-radius: 4px;
  transform:rotate(-24deg);
}
.profile--nexting::after {
  content:'NON';
  border:solid 2px red;
  color:red;
  top: 24px;
  right:12px;
  transform:rotate(24deg)
}

.photoedit img  {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.photoedit {
text-align: center;
padding-top: 30px;
margin-bottom: 20px;
}
.montitre {
  text-align: center;
}


.listprofil img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 15px;
  text-align: justify;
  align-items: right;
}

.listprofil {
  margin-top: 100px;
}
