ul {
  list-style-type: none;
  text-align: left;

}

.imageshow {
  width: 100%;
  height: 400px;

}

.imageshow img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;

}

.infoshow {
  color: white;
}

.biocontainer {
  text-align: justify;
  color: white;
}
